<div id="input_block">
    <form action="/password_set" method="post">
        <h2><i>Change Password</i></h1>
        <input type="password" name="new_password" size="20" maxlength="20" placeholder="New password"> * Must be 6 to 20 characters
        <br/>
        <input type="password" name="new_password_again" size="20" maxlength="20" placeholder="New password again">
        <br/>
        <input type="submit" name="change" value=" Change " />
    </form>
</div>
