<div id="input_block">
    <form action="/password_set" method="post">
        <h2><i>Change Password</i></h1>
        New password: <input type="password" name="new_password" size="20" maxlength="20"> * Must be 6 or more characters
        <br/>
        New password again: <input type="password" name="new_password_again" size="20" maxlength="20">
        <br/>
        <input type="submit" name="change" value=" Change " />
    </form>
</div>
